.stock-module-container {
  height: calc(100vh - 7rem);
  width: calc(100vw - 7rem);
  overflow-y: scroll;
  padding: 2px 0 0 2px;
}

.stock-module-container table {
  width: 100%;
  height: 100%;
  border: 2px solid var(--hovers);

  border-collapse: collapse;
}

.stock-module-container table thead {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stock-module-container table thead tr {
  width: 100%;

  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

.stock-module-container table thead tr th {
  height: 4rem;
  width: 20%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: sticky;
  top: 0px;

  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--hovers);

  font-size: 1.5rem;
}

.stock-module-container table tbody {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.stock-module-container table tbody tr {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

.stock-module-container table tbody tr:hover {
  background-color: var(--primary);
}

.stock-module-container table tbody tr td {
  height: 4rem;
  width: 20%;
  padding: 8px;

  border-bottom: 1px solid var(--hovers);

  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  font-weight: 600;
}

.stock-module-container table tbody tr td:hover {
  background-color: var(--hovers);
  color: var(--secondary);
}
