.modalrawmaterial-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(139, 198, 233, 0.5);

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 9;
}

.modalrawmaterial-container .modal-add-rawmaterial {
  border: 1px solid black;
  width: 40rem;
  height: 45rem;

  border-radius: 3rem;
  background-color: var(--secondary);
  z-index: 10;
}

.modalrawmaterial-container .modal-add-rawmaterial img {
  height: 2.5rem;

  position: relative;
  left: 35rem;
  top: 2.7rem;
  z-index: 1;

  cursor: pointer;
}
