section {
  height: calc(100vh - 7rem);
  width: calc(100vw - 7rem);
  padding: 2px 0 0 2px;
  background-color: var(--secondary);
  overflow-y: scroll;
}

section table {
  width: 100%;
  height: calc(100% - 7rem);

  border-radius: 1rem;
  border: 2px solid var(--hovers);
  border-collapse: collapse;
}

section table thead th {
  height: 4rem;
  width: 8rem;

  position: sticky;
  top: 0px;

  background-color: var(--primary);
  color: var(--secondary);
  border: 2px solid var(--hovers);

  font-size: 1.5rem;
}

section table tbody tr:hover {
  background-color: var(--primary);
}

section table tbody td {
  height: 4rem;
  padding: 8px;

  border-bottom: 1px solid var(--hovers);

  text-align: center;
  text-justify: auto;
  font-weight: 600;
}

section table tbody td:hover {
  background-color: var(--hovers);
  color: var(--secondary);
}
