.products-container {
  height: calc(100% - 7rem);
  width: 100%;

  overflow-y: scroll;
  padding-bottom: 7rem;
}

.products-container .products-area {
  height: auto;
  max-width: 92rem;
  margin-left: 10rem;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
