* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.home-container {
  width: 100vw;
  height: 100vh;

  display: flex;
}

.content-container {
  background-color: var(--secondary);
  width: 100%;
}
