.modalProductInfo-container {
  width: 100%;
  height: 100%;

  background-color: rgba(139, 198, 233, 0.5);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modalProductInfo-container .modalProductInfo {
  width: 40rem;
  height: 45rem;

  background-color: var(--secondary);
  border-radius: 3rem;
}

.modalProductInfo-container .modalProductInfo img {
  height: 2.5rem;

  position: relative;
  left: 35rem;
  top: 2.7rem;
  z-index: 1;

  cursor: pointer;
}

.modalProductInfo-container .modalProductInfo img:hover {
  background-color: var(--hovers);
  border-radius: 50%;
}

.modalProductInfo-container .modalProductInfo h2 {
  height: 2.5rem;
  text-align: center;
}

.modalProductInfo-container .modalProductInfo strong {
  margin: 2rem 0 0 3rem;
  display: block;
  font-size: large;
}

.modalProductInfo-container .modalProductInfo p {
  margin-left: 3rem;
}

.modalProductInfo-container .modalProductInfo button {
  width: 15rem;
  height: 3rem;

  border: none;
  border-radius: 0.5rem;
  background-color: var(--primary);

  color: var(--secondary);
  font-weight: bold;
  font-size: medium;
  cursor: pointer;

  margin: 10rem 0 0 13rem;
}

.modalProductInfo-container .modalProductInfo button:hover {
  background-color: var(--hovers);
}
